
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}
header{
    border-radius: 10px;
    padding-top:10px;
    min-height: 70px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,58,116,1) 69%, rgba(0,212,255,1) 100%);
}

header .branding{
    float: left;
}
.logito{
    margin-right: 0%;
    width: 5%;
    align-items: center;
}

.container {
    width: 80%;
    margin: left;
    margin-left: 2%;
    overflow: hidden;
    color: #ffffff;
}

.header2 {
    margin-top: 0.35%;
    padding: 0px;
    color: #ffffff;
    background: linear-gradient(#b8e65a, #475825);
}

.header2 h1 {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto";
}
.header2 a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto";
    vertical-align: middle;
    font-size: 80%;
}

.navbar {
    display: flex;
    justify-content:flex-end;
    font-size: 150%;
}

.navbar a {
    color: #cb0d59;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 30px;
}

.carnes {
    background-color: white;
}

.navbar a:hover {
    background-color: white;
    color: #cb0d59;
    font-size: 90%;
}

#toggle {
    display: none;
}

.togglearea {
    
    color: #cb0d59;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.togglearea label {
    background-color: #cb0d59;
    height: 45px;
    width: 45px;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.togglearea label span {
    background-color: rgb(255, 255, 255);
    height: 4px;
    width: 70%;
    margin: 2px 0px;
}

.togglearea {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        display: none;
    }

    #toggle:checked+.navbar {
        display: flex;
    }

    .togglearea {
        display: flex;
    }
    .logito{
        width: 15%;
    }
}
@media screen and (max-width: 1200px) { 
    .navbar {
        flex-direction: column;
        display: none;
    }

    #toggle:checked+.navbar {
        display: flex;
    }

    .togglearea {
        display: flex;
    }
    .botonup {
        visibility: hidden;
    }
    .logito{
        width: 10%;
    }
}
@media screen and (max-width: 470px) {
    .navbar a{
        margin-right: 25%
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
aside{
    flex: 30px;
    background-image: linear-gradient(to right, #99194a , #6e1336);
    padding: 20px;
    text-align: center;
    font-family: "Roboto";
    border-radius: 3%;
}

aside a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 100%;
}
aside h1{
    color: #ffffff;
    font-size: 150%;
}
aside div{
    font-size: 80%;
}
aside div:hover{
    background-image: linear-gradient(to right, #d22768, #ab1f55);
    width: 100%;
    font-size: 130%;
    border-radius: 10%;
    color: #290202;
}

section{
    flex: 70%;
    background-color: rgb(255, 231, 211);
    padding: 25px 50px 80px;
}

section h2{
    color: #000000;
}
section p{
    color: #000000;
}

form{
    max-width: 420px;
    margin: 10px auto;
}
.feedback-input{
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #cb0d59;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
}
textarea{
    height: 150px;
    line-height: 25%;
}
[type="submit"]{
    
    width: 107%;
    background: #cb0d59;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sectionpacontact{
    padding: 25px 50px 200px;
}

footer{
    background-color: #b8e65a;
    padding: 0.2%;
    position:relative;
    left: 0;
    bottom: 0; 
    width: 98%;
    text-align: center;
    border-radius: 30px;
    margin-left: 0.7%;
    margin-bottom: 0;
    font-size: 100%;
    margin-top: 10px;
}
footer h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #b8e65a;
    border-left: 2px solid rgb(0, 0, 0);
    animation: escribir 4s steps(40) infinite alternate; 
}

@keyframes escribir{
    from{
        width: 100%;
    }
    top{
        width: 0;
    }
}

.flexdiv {
    flex: 1;
    margin: 0.5rem;
    padding: 2rem;
    font-size: 125%;
    background-color: rgb(255, 231, 211);
    border-radius: 30px;
}

.flexsection {
    display: flex;
    width: 100%;
    height: 70%;
    padding: 0.5rem;
    background-color: rgb(255, 231, 211);
    font-family: "Roboto";
}

body{
    background-color: rgb(255, 255, 255);
}

abbr{
    text-decoration: none;
    text-decoration: underline;
    color: #141414;
}

.asadito{
    border-radius: 20px;
}


.decnone{
    text-decoration: none;
    color: #000000;
    text-decoration: underline;
}



.javuvu {
    display: flex;  
    flex-wrap: wrap;
    align-content: center;
}

  
.fotito{
    border-radius: 30px;
    width: 700px;
}

.video{
    width: 700px;
    border-radius: 30px;
}


@media screen and (max-width: 700px) {
    .fotito{
        width: 500px;
    }
    .video{
    width: 500px;
    }
    footer{
        font-size: 50%;
    }
}

@media screen and (max-width: 500px) {
    .fotito{
        width: 350px;
    }
    .video{
    width: 350px;
    }
}

.column{
    background-color: rgb(255, 231, 211);
    border-radius: 30px;
    font-family: "Roboto";
}

.column p{
    margin-left: 2%;
}
@media screen and (max-width: 1415px) {
    .javuvu {
        display:flex;  
        flex-flow: column;
    }
}

#margin5{
    margin-top: 5px;
}


details li{
    margin-left: 5%;
}

.botonup {
    background: linear-gradient(#b8e65a, #475825);
    padding: 0.8%;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 30px;
    margin-left: 0.7%;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 125%;
}

.pasubir{
    transition: 5s;
}

.tabladatos{
    color: red;
    border: solid 1px;
    border-collapse: collapse;
    max-width: 480px;
    margin: 10px auto;
    border-radius: 10px;
}
table td, th {
    border: 1px solid;
}

.argento{
    background-image: url(../img/argento.gif);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container12{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
aside#barra-der{
    float: right;
    width: 30%;
    padding: 15px;
}

article#columna-main{
    float: left;
    width: 65%;
    padding: 15px;
    font-size: 20px;
    font-family: "Roboto";
}
.oscuro{
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
}
.oscuro p{
    list-style: none;
    color: white;
}